#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// https://zmk.dev/docs/keymaps/behaviors/mouse-emulation#mouse-emulation-defines
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15    // default: 10

#include <dt-bindings/zmk/pointing.h>

&mmv {
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <1>;
};

&msc {
    time-to-max-speed-ms = <1000>;
    acceleration-exponent = <0>; 
};

/ {
    chosen { zmk,matrix_transform = &default_transform; };
};

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <75>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            // TRIGGER: Right Hand Keys (Indices 6-11, 18-23, 30-35) + Right Thumbs (39-41)
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <75>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            // TRIGGER: Left Hand Keys (Indices 0-5, 12-17, 24-29) + Left Thumbs (36-38)
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
            hold-trigger-on-release;
        };
    };


    combos {

// 00	01	02	03	04	05		06	07	08	09	10	11
// 12	13	14	15	16	17		18	19	20	21	22	23
// 24	25	26	27	28	29		30	31	32	33	34	35
//            36	37	38		39	40	41

        compatible = "zmk,combos";

        EnableAdjust {
            bindings = <&to 4>;
            key-positions = <0 11>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB       &kp Q        &kp W        &kp E        &kp R          &kp T     &kp Y      &kp U          &kp I          &kp O        &kp P           &kp RET
&kp ESC       &hml LGUI A  &hml LALT S  &hml LCTL D  &hml LSHIFT F  &kp G     &kp H      &hmr RSHIFT J  &hmr RCTL K    &hmr RALT L  &hmr RGUI SEMI  &kp SQT
&kp LC(BSPC)  &kp Z        &kp X        &kp C        &kp V          &kp B     &kp N      &kp M          &kp COMMA      &kp DOT      &kp FSLH        &kp LA(TAB)
                                        &kp LC(A)    &mo 1          &kp BSPC  &kp SPACE  &mo 2          &mo 3 
            >;
        };

        navigation {
            bindings = <
&trans        &trans          &mmv MOVE_UP     &trans           &mkp MCLK       &kp LG(DOT)     &kp LG(LEFT)    &kp LG(DOWN)   &kp LG(UP)     &kp LG(RIGHT)  &trans  &trans
&kp CAPS      &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_RIGHT  &mkp LCLK       &mkp RCLK       &kp LEFT        &kp DOWN       &kp UP         &kp RIGHT      &trans  &trans
&trans        &kp PSCRN       &msc SCRL_LEFT   &msc SCRL_UP     &msc SCRL_DOWN  &msc SCRL_RIGHT &kp HOME        &kp PAGE_DOWN  &kp PAGE_UP    &kp END        &trans  &trans
                                               &trans           &trans          &trans          &trans          &trans         &trans
            >;
        };

        symbols {
            bindings = <
&kp LC(LS(TAB))  &kp EXCL  &kp AT   &kp HASH  &kp DLLR   &kp PRCNT   &kp CARET   &kp AMPS  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp LC(TAB)
&kp F1           &kp F2    &kp F3   &kp F4    &kp F5     &kp F6      &kp MINUS   &kp EQUAL &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp F7           &kp F8    &kp F9   &kp F10   &kp F11    &kp F12     &kp UNDER   &kp PLUS  &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                                    &trans    &trans     &kp DELETE  &trans      &trans    &trans
            >;
        };

        numbers {
            bindings = <
&kp LA(LEFT)  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans          &trans   &trans           &trans        &trans    &trans   &trans   &kp LA(RIGHT)
&trans        &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0    &trans   &kp LG(LC(SPC))  &trans        &trans    &trans   &trans   &trans
&trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans          &trans   &trans           &trans        &trans    &trans   &trans   &trans
                                          &trans        &trans          &trans   &trans           &trans        &trans
            >;
        };

        adjust_layer {
            bindings = <
&to 0        &none         &none         &none         &none         &bootloader     &bootloader   &none         &none         &none         &none         &to 0
&none        &none         &none         &none         &none         &none           &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none        &none         &none         &none         &none         &sys_reset      &sys_reset    &none         &none         &none         &none         &none
                                         &none         &none         &none           &none         &none         &none
            >;
        };



    };
};
